extends layout

block content
  .row
      .col-12
          .card
              .card-content
                  .card-title
                      h4 Submitted Data
                  p First Name : 
                    b #{firstName}
                  p Last Name : 
                    b #{lastName}
                  p Email : 
                    b #{email}
                  p Age : 
                    b #{age}
