extends layout 
        
block content
    h1 article
    h2 #{title}

    form(action="/articles/saveForm", method="get")
        .row 
            .input-field.col.s6
                input#first_name.validate(type ="text", name="firstName")
                label(for="first_name")  First Name
                br
            .input-field.col.s6
                input#Last_name.validate(type ="text", name="LastName")
                label(for="Last_name")  Last Name
                br
        .row
            .input-field.col.s6
                input#email.validate(type ="email", name="email")
                label(for="email")  Email
                br
            .input-field.col.s6
                input#phone.validate(type ="number", name="phone")
                label(for="phone")  Phone
                br
        .row
            button.btn(type="subnit") Submit